/* Airproof Theme main stylesheet */.airproof-hero {

    min-height: 80vh;

    background: blue;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

}


.airproof-hero h1 {

    color: red;

    font-size: 60px;

}